*{
    box-sizing: border-box;
}


body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}



/* ************************************* */
/* =============== header ========== */
/* ************************************* */

header{
    background-color: #fff;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.logo{
    margin-top: 5px;
    margin-left: 22px;
    margin-right: 30px;

}

.logo img{
    width: 100px;
}

.search-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    justify-content: space-between;
    width: 690px;
    height: 45px;
    border: 0.5px solid rgb(204, 204, 204);
    border-radius: 29px;
}

.search:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border: 0.5px solid rgb(255, 255, 255);
}


.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons svg{
    width: 35px;
    padding-right: 10px;
    cursor: pointer;
}

.cancel svg{
    fill: rgb(153, 153, 153);
}

.search-icon svg{
    fill: rgb(52, 111, 187);
}

.search-bar input{
    background-color: transparent;
    border: none;
    border-radius: 20px;
    width: 590px;
    padding-left: 20px;
}


.line span{
    border-left: 1px solid rgb(185, 185, 185);
    padding-right: 10px;
}


.top-right{
    display: flex;
    align-items: center;
    margin-right: 40px;
    padding-left: 40px;
}

.top-right .menu{
    width: 29px;
    margin-right: 15px;
    cursor: pointer;
    fill: rgb(97, 97, 97);
}

.avatar img{
    border-radius: 50%;
    width: 35px;
    cursor: pointer;
}

/* *************************************** */
/* ======== end of the header ======= */
/* ***************************************** */

/*___________________________________________ */

/* ************************************* */
/* ========= the nav bar ========= */
/* ************************************* */

.navbar{
    background-color: #fff;
    position: absolute;
    top: 70px;
    border-bottom: 0.3px solid rgb(230, 230, 230);
    width: 100%;
    height: 48px;
    z-index: 3;
}

.navbar nav{
    display: flex;
    padding: 0;
    margin: 0;
}


.main-nav{
    margin-left: 100px;
    
}

.main-nav ul{
    display: flex;
    
}

.main-nav ul li{
    list-style: none;
    
    
}

.main-nav .all {
    color: #1A73E8;
    border-bottom: 3px solid #1A73E8;
    
}

.main-nav ul li a{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-nav ul li a svg{
    width: 16px;
    margin-right: 5px;
    fill: #5f6368;
    align-self: flex-end;
}

.secondary-nav{
    position: relative;
    left: 90px;
}

.secondary-nav ul{
    display: flex;
    align-items: flex-end;
}

.secondary-nav ul li{
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;
}

.secondary-nav ul li a{
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
}


/* ************************************* */
/* ======== end of the nav bar ======= */
/* ************************************* */

/* ___________________________________________ */

/* ************************************* */
/* ======== result numbers ======= */
/* ************************************* */

.result-number{
    position: relative;
    display: flex;
    top: 120px;
    justify-content: center;
    align-items: center;
    width: 580px;
}
.result-number p{
    font-size: 15px;
    color: #70757a;
}


/* ************************************* */
/* ======== end of the result number ======= */
/* ************************************* */

/* ___________________________________________ */

/* ************************************* */
/* ======== main section that contains search results ======= */
/* ************************************* */

main{
    position: relative;
    top: 125px;
    left: 150px;
    width: 670px;;
}

.search-result{
    margin-bottom: 30px;
}

.result-link a{
    text-decoration: none;
    color: rgb(26, 13, 171);
}

.result-link h3{
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.3;
    font-weight: normal;
}

.result-details p{
    margin-top: 8px;
}


.result-link a cite{
    font-size: 14px;
    color: #202124;
    font-style: normal;
}

.result-link a cite span{
    color: #5f6368;
}

.result-details p{
    color: #4d5156;
    font-size: 14px;
}



.video-title{
    font-size: 20px;
    color: #222;
    font-weight: normal;
}

.video-results{
    display: flex;
    width: 700px;
}

.video-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    height: 306px;
    width: 212px;
    margin-right: 10px;
}

.video-player{
    position: absolute;
    z-index: 0;
}

.video-player video{
    height: 118px;
    width: 212px;
    border-radius: 8px 8px 0 0;
    padding-right: 2px;
}

.video-time{
    position: absolute;
    z-index: 1;
    line-height: normal;
    border-radius: 2px;
    font-size: 12px;
    padding: 3px 4px 0 4px;
    font-family: arial,sans-serif-medium,sans-serif;
    bottom: 8px;
    color: #fff;
    left: 10px;
    background-color: rgba(0,0,0,.54);
}

.play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
    color: #f20206;
}
.play-button i{
    font-size: 48px;
}

.video-link{
    position: relative;
    top: 100px;
    padding: 13px;
}

.channel-name{
    position: relative;
    top: 110px;
    padding-left: 13px;
    font-size: 14px;
    color: #808080;
}
.video-footer{
    position: relative;
    top: 85px;
    padding-left: 13px;
    font-size: 14px;
}

.video-date{
    color: #808080;
}




.questions{
    border: 1px solid #e0e0e0;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.questions h2 {
    color: #222;
    font-size: 20px;
    font-weight: normal;
    padding: 9px 16px;
    margin: 0;
}

.question{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
}

.question svg{
    /* font-size: 90px; */
    width: 25px;
    fill: #70757A;
    margin-right: 10px;
}

.question p{
    margin: 0;

    color: #222;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 16px;
    position: relative;
    line-height: 1.58;
}


.buttons-section{
    display: flex;
    margin-top: 15px;
}

.button{
    margin-right: 7px;
}

.button input{
    color: rgb(97, 97, 97);
    background-color: #fff;
    padding: 11px;
    border-radius: 30px;
    border: 1px solid rgb(192, 192, 192);
    cursor: pointer;
}

.button input:hover{
    background-color: #f7f7f7;
}

.btn-arrow input{
    font-size: 28px;
    padding: 3px;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


.fade-effect{
    position: absolute;
    right: -17px;
    width: 100px;
    padding: 1.2rem;
    background: linear-gradient(270deg,#fff 12%,rgba(255,255,255,0));
}

.images{
    margin-top: 0.5rem;
    width: 750px;
}

.images img{
    border-radius: 5px;
    margin-right: 0.3rem;
    max-width: 221px;
    min-height: 130px;
    cursor: pointer;
}

.images button{
    opacity: 0.8;
    position: relative;
    bottom: 55px;
    right: 25px;
    border-radius: 50%;
    font-size: 33px;
    padding: 0 15px 4px 15px;
    color: #525252;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    box-shadow:
    0 14px 19px -12px rgba(0, 0, 0, 0.42)
    ;
    cursor: pointer;

}


.more-link{
    display: flex;
    text-decoration: none;
}
.more-imgs{
    margin-top: 0;
    /* position: relative;
    top: -20px; */
    font-size: 18px;

}

.more-link:hover .more-imgs{
    text-decoration: underline;
}



.more-link i{
    text-decoration: none;
    font-size: 40px;
    position: relative;
    text-decoration: none;
    position: relative;
    top: -18px;
    /* top: -20px; */
}


.suggestions-title{
    font-size: 20px;
    color: #222;
    font-weight: normal;
}


.sug-list{
    display: flex;

}

.sug-list ul{
    margin: 0;
    padding: 0;
    padding-right: 50px;
    
}

.sug-list ul li{
    list-style: none;
    color: rgb(26, 13, 171);
    padding-bottom: 8px;
}


footer{
    
    justify-self: flex-end;
    /* align-self: flex-end; */
    position: relative;
    top: 150px;

}

.location-text{
    display: flex;
    margin-left: 9%;
    padding: 13px;
}
.location{
    background-color: #eee;
    border: 1px solid #ccc;
}

.country, .city ,.location-details{
    margin-right: 15px;
    color: #555;
}

.location p {
    margin: 0;
}

.bottom-nav{
    background-color: #eee;

}
.bottom-nav ul{
    display: flex;
    margin: 0;
    padding: 15px;
    margin-left: 9%;

}
.bottom-nav ul li{
    list-style: none;
    padding-right: 20px;
}
.bottom-nav ul li a{
    text-decoration: none;
}




/* ************************************* */
/* ======== end of the main section ======= */
/* ************************************* */

/* ___________________________________________ */